#include <windows.h>

 #ifdef RC_INVOKED
// ------- version info -------------------------------------------------------

VS_VERSION_INFO VERSIONINFO
// Major.Minor.Revision (bugfixes) .Build
FILEVERSION 0,1,0,0
PRODUCTVERSION 0,1,0,0
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
        BEGIN
  VALUE "Comments", ""
  VALUE "CompanyName", ""
  VALUE "FileDescription", ""
  VALUE "FileVersion", ""
  VALUE "InternalName", ""
  VALUE "LegalCopyright", ""
  VALUE "OriginalFilename", "gstd"
  VALUE "ProductName", "Gris Standard Library"
  VALUE "ProductVersion", "0.1.0.0"
        END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409,1200
 END
END
#endif